<div class="container-fluid mt-5">
  <div >
    <div class="row">
      <!-- List of Products -->
      <div class="col-sm-4" *ngFor="let product of productModel">
        <div class="card">
          <img class="card-img-top"  
          [src]="product.productImageName[0]">
          <div class="card-body">
            <h4 class="card-title">{{ product.productName }}</h4>
            <div *ngFor="let reg of product.region">
              <p class="card-text"> <i class="fa fa-inr" aria-hidden="true"></i> {{ reg.regionPrice }}</p>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn- float-right" 
            (click)="addToCartTest(product)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>